name: Update Iran Proxies

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install deps
      run: pip install pyyaml requests
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run update script
      run: python scripts/update.py
    - name: Commit changes
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add output/config.yaml
        if git diff --cached --quiet; then
          echo "⚠️ No changes to commit"
        else
          git commit -m "Update proxies on $(date -u)"
          git push
        fi
